$blue: #216ada;
$green: #76bc61;
$white: #ffffff;
$black: #000000;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  font: inherit;
  text-decoration: none;
  color: $blue;
}

@mixin reset-text {
  margin: 0;
  padding: 0;
}

@mixin headline {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

@mixin input {
}

